.navbar-header .header-search {
  height: 30px;
  margin: 15px 0;
  background: #fff;
}

.modal-open .select2-container {
  z-index: 999999;
}

.empty-box {
  max-width: 400px;
  z-index: 100;
  margin: 0 auto;
  margin-top: 140px;

  &.no-top {
    margin-top: 0;
  }
}

.clear-both  {
  clear: both;
}

.img-responsive-height {
  width: auto;
  height: 100%
}

.media-photo {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  overflow: hidden;
  background-color: #cacccd
}

.media-photo-block {
  display: block
}